/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background-color: #f3eae5;
  color: #fff;
  font-family: Microsoft JhengHei, sans-serif;
}

h1, h2, h3 {
  font-weight: 800;
}

h4 {
  font-weight: 600;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

section {
  padding: 1rem 0 0.5rem 0;
}

.newline{
  padding-bottom: 1.2rem;
  clear: both;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.logo {
  padding: 1rem;
}

.logo img {
  max-height: 3rem;
  -webkit-filter: drop-shadow(2px 2px 2px #333);
}

.navbar {
  padding: 0;

}

.nav-menu {
  position: relative;
  display: inline;
}

.nav-menu ul {
  margin: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  background-color: rgba(132, 166, 105, 0.8);
  border-left: 1px #fff solid;
}

.nav-menu li a {
  display: block;
  position: relative;
  height: 100%;
  color: #fff;
  font-weight: 600;
  padding: 1rem 2rem;
}

.nav-menu li a:hover,
.nav-menu li.active a {
  background-image: linear-gradient(to bottom right, rgba(143, 187, 117, 1), rgba(93, 116, 67, 1));
  color: #fff;
}

.navbar-toggler {
  margin: 0.25rem 0.75rem;
  border: 0;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1.0%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (max-width: 768px) {
  .logo img {
    max-height: 2.5rem;
  } 
  
  nav {
    background-color: rgba(132, 166, 105, 0.8);
  }
  
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
  }
  
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    border-left: 0px #fff solid;
    border-top: 1px #fff solid;
  }
}

/*--------------------------------------------------------------
# Slider Section
--------------------------------------------------------------*/
#slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#slider .carousel, #slider .carousel-inner, #slider .carousel-item, #slider .carousel-item::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#slider .carousel-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#slider .carousel-item::before {
  content: '';
}

#slider .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 300px;
  left: 50px;
  right: 50px;
}

#slider .container {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 800;
  text-shadow:2px 2px 10px #000;
}

#slider .carousel-control-prev, #slider .carousel-control-next {
  width: 10%;
  top: 112px;
}

@media (max-width: 992px) {
  #slider .carousel-control-prev, #slider .carousel-control-next {
    top: 60px;
  }
}

#slider .carousel-control-next-icon, #slider .carousel-control-prev-icon {
  background: none;
  font-size: 50px;
  line-height: 1;
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  padding: 10px;
  color: rgba(255, 255, 255, 0.5);
}

#slider .carousel-control-next-icon:hover, #slider .carousel-control-prev-icon:hover {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.8);
}

#slider .carousel-indicators li {
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  border: 0;
  width: 20px;
  height: 20px;
  border: 2px #fff solid;
  border-radius: 20px;
  opacity: .8;
}

#slider .carousel-indicators li:hover,
#slider .carousel-indicators li.active {
  opacity: 1;
  background: rgba(153, 230, 77, 1);
}

@media (max-width: 992px) {
  #slider {
    height: 100vh;
  }
  #slider .carousel-container {
    top: 8px;
  }
}

@media (max-width: 768px) {
  #slider h2 {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  #slider .carousel-control-prev, #slider .carousel-control-next {
    width: 5%;
  }
}

@media (max-height: 500px) {
  #slider {
    height: 120vh;
  }
}

/*--------------------------------------------------------------
# Banners Section
--------------------------------------------------------------*/
#banners {
  color:#fff;
  text-align:center;
  font-weight: 600;
}

#banners img {
  padding-bottom: 1rem;
}

.banner {
  margin-top: 1rem;
  border-radius: 0.25rem;
}

.banner_1 {
  background-image: linear-gradient(to bottom right, #f093fb, #cd9cf2);
}

.banner_2 {
  background-image: linear-gradient(to bottom right, #4facfe, #3cba92);
}

.banner_3 {
  background-image: linear-gradient(to bottom right, #48c6ef, #6f86d6);
}

.banner_4 {
  background-image: linear-gradient(to bottom right, #f6d365, #fda085);
}

/*--------------------------------------------------------------
# Content Section
--------------------------------------------------------------*/
#content {
  color:#555;
}

#content h3 {
  color: #784a3b;
  padding-bottom: 0.8rem;
}

#content strong {
  display: block;
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

#content p {
  font-size: 1rem;
}

#content span {
  color: #784a3b;
  font-weight: 600;
}

.more {
  color: #fff;
  text-transform: uppercase;
  line-height: 2.5rem;
  display: block;
  width: 6rem;
  text-decoration: none;
  border-radius: 0.25rem;
  background-image: linear-gradient(to bottom right, rgba(143, 187, 117, 1), rgba(93, 116, 67, 1));
  text-align: center;
  font-weight: 600;
}

.more:hover {
  background-image: linear-gradient(to bottom right, rgba(188, 147, 57, 1), rgba(120, 74, 59, 1));
  color: #fff;
  font-weight: 600;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 1rem;
  bottom: 1rem;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  background: rgba(132, 166, 105, 0.8);
  color: #fff;
}

.back-to-top i:hover {
  background-image: linear-gradient(to bottom right, rgba(143, 187, 117, 1), rgba(93, 116, 67, 1));
  color: #fff;
}

/*--------------------------------------------------------------
# Photo
--------------------------------------------------------------*/
.photo {
  border: 2px #ccc solid;
  background: #fff;
  padding: 0.2rem;
  margin-top: 0.5rem;
}

.alignleft{
  float: left;
  margin: 0 1.5rem 1rem 0;
}
.alignright{
  float: right;
  margin: 0 0 0.5rem 1rem;
}
.aligncenter{
  margin: 0 auto 1rem;
}

/*--------------------------------------------------------------
# Social
--------------------------------------------------------------*/
ul.social{
  margin:0;
  padding:0;
  list-style:none;
}

ul.social li{
  float:left;
  margin-right:10px;
}

#content ul.social li img{
 -webkit-filter: opacity(0.8);
}

#content ul.social li img:hover{
 -webkit-filter: opacity(1);
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer{
  background-color: #84A669;
  color: #fff;
}

